---
import Layout from "../../layouts/Layout.astro";

const { count } = Astro.params;
console.log(Astro.params, Astro.props);
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-3xl font-bold">count is: {count}</h1>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
